
.pdf-annotate-button {
    float: right;
    /* padding: 0px 6px;
    box-shadow: none !important;
    float: right;
    color: var(--text-faint); */
}
.pdf-collapse-button {
    float: left;
    /* padding: 0px 6px;
    box-shadow: none !important;
    float: right;
    color: var(--text-faint); */
}

.pdf-name {
    text-decoration: underline;
    display: inline-block; /* or block, depending on your requirements */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
}

.settings-button {
    padding: 6px 8px;
}
.settings-scroll-container {
    max-height: 300px;
    overflow-y: scroll;
}

.share-img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pdf-embed-collapsed {
    max-height: 41px
}
